.background-title{
  background: rgb(1,49,115);
  padding: 1rem 4rem;
}
.padding-top{
  padding-top: 2rem !important;
  width: 90%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.checked {
    color: orange;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
        width: 100%;
}
.fa .fa-star{
  font-size: 2.5rem;
}
.checkmark {
	border-radius : 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.checkedPersonalize:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkedPersonalize input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkedPersonalize:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkedPersonalize input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkedPersonalize .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* The container */
.checkedPersonalize {

    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sin-padding{
  padding-left: 0px !important;
}
/* Hide the browser's default checkbox */
.checkedPersonalize input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkedPersonalize .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.fin-card{
  padding: 2%;
  text-align: center;
  padding-top: 4%;
}
.btn-primary {
    color: #fff;
    background-color: #013173 !important;
    border-color: #2e6da4;
}
.border-container{
  border-left: 1px solid;
    border-top: 0px;
    border-style: dotted;
    border-right: 0px;
    border-bottom: 0px;
    border-color: #e1e1e1;
}
.precio{
  color : #ff8300;
  font-size: 1.5rem;
}
.precio > b{
  color : #ff8300;
  font-size: 2rem;
}
