<!--The content below is only a placeholder and can be replaced.-->
<div class="row background-title">
  <div class="col-2">
    <img src="assets/images/logo-almundo.svg" class="img-rounded" alt="Cinque Terre">
  </div>
</div>
<div class="container padding-top">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <div class="w3-card">
        <div class="container">
          <h3><b>Filtros</b></h3>
        </div>
      </div>
      <div class="w3-card">
        <div class="container">
         <form>
           <div class="form-group">
              <label for="usr">Nombre de Hotel:</label>
              <input type="text" class="form-control" [(ngModel)]="nombreHotel" name="something" (ngModelChange)="filtrar($event , hotels)" placeholder="Digita el nombre del hotel" id="usr"/>
            </div>
          </form>
          <div class="form-group">
            <label for="usr">Estrellas:</label>
          </div>
          <form>
           <label class="checkbox-inline checkedPersonalize">
             <input type="checkbox" name="cinco" [(ngModel)]="estrellas.cinco" (ngModelChange)="filtrarEstrellas()">
             <span class="checkmark"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
           </label>
          </form>
          <form>
           <label class="checkbox-inline checkedPersonalize">
             <input type="checkbox" name="cuatro" [(ngModel)]="estrellas.cuatro" (ngModelChange)="filtrarEstrellas()">
             <span class="checkmark"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
           </label>
          </form>
          <form>
           <label class="checkbox-inline checkedPersonalize">
             <input type="checkbox" name="tres" [(ngModel)]="estrellas.tres" (ngModelChange)="filtrarEstrellas()">
             <span class="checkmark"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
           </label>
          </form>
          <form>
           <label class="checkbox-inline checkedPersonalize">
             <input type="checkbox" name="dos" [(ngModel)]="estrellas.dos" (ngModelChange)="filtrarEstrellas()">
             <span class="checkmark"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star "></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
           </label>
          </form>
          <form>
           <label class="checkbox-inline checkedPersonalize">
             <input type="checkbox" name="uno" [(ngModel)]="estrellas.uno" (ngModelChange)="filtrarEstrellas()">
             <span class="checkmark"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
           </label>
          </form>
          <br>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10">
      <div *ngIf="load" style="height: 10rem;text-align: center;">
          <img src="assets/images/load.gif" style="width: auto;height: 100%;" alt="Cinque Terre" >
      </div>
      <div *ngIf="!load">
        <div class="w3-card" *ngFor="let hotel of hotels">
          <div class="container">
            <div class="col-sm-4 col-md-4 col-lg-4" style="padding: 5px;">
              <img [src]="hotel.image || 'assets/images/logo-almundo.svg'" style="width: 20rem;height: 14rem;" alt="Imagen No encontrada">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <b>{{hotel.name || 'No se encontró Hotel'}}</b>
               <label class="checkbox-inline checkedPersonalize sin-padding">
                 <span  *ngFor="let start of hotel.stars" class="fa fa-star checked"></span>
               </label>
               <div>
                 <img *ngFor="let icon of hotel.amenities" src="assets/icons/amenities/{{icon}}.svg" style="width:2rem;height:2rem;padding:5px">
               </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 fin-card border-container">
              <p>Precio por noche por habitación </p>
              <h3 class="precio">ARS <b>{{hotel.price || 0}}</b></h3>
              <button type="button" class="btn btn-primary btn-block">VER HOTEL</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
